{% extends '::dashboard.html.twig' %}

{% block content %}
    <div class="page-header">
        <h3>Eliminar Grupo</h3>
    </div>

    <dl class="dl-horizontal">
        <dt>Nombre</dt>
        <dd>{{ entity.nombre }}</dd>
		
		<dt>Descripcion</dt>
        <dd>{{ entity.descripcion }}</dd>
		
		
		{% if entity.sitios|length > 0 %}
			<dt>Sitios</dt>
		{% for sitio in entity.sitios %}
			<dd>{{ sitio}}</dd>
		{% endfor %}
		{% endif %}
    
		{% if plantilla %}
			<dt>Plantillas</dt>
			{% for p in plantilla %}
				<dd>{{ p}}</dd>
			{% endfor %}
		{% endif %}
	</dl>
	 
	<div class="col-md-offset-1">
        {{ form_start(delete_form) }}
            {{ form_widget(delete_form.submit) }}
            <a href="{{ path('grupo') }}" class="btn btn-default">Cancelar</a>
        {{ form_end(delete_form) }}
    </div>
	
{% endblock %}
