{% extends '::dashboard.html.twig' %}

{% block content %}
    <div class="page-header">
        <h3>Eliminar Usuario de Sistema</h3>
    </div>

    <dl class="dl-horizontal">
        <dt>Usuario</dt>
        <dd>{{ entity.username }}</dd>

        <dt>Email</dt>
        <dd>{{ entity.email }}</dd>

        <dt>Administrador</dt>
        <dd>{% if entity.administrador %}Sí{% else %}No{% endif %}</dd>

        <dt>Usuario de Red</dt>
        <dd>{{ entity.usuariored }}</dd>
    </dl>

    {{ form_start(delete_form) }}
    <dl class="dl-horizontal">
        <dt>Eliminar Usuario de Red</dt>
        <dd><input type="checkbox" name="eliminar_usuariored" /></dd>
    </dl>

    <div class="col-md-offset-1">
            {{ form_widget(delete_form.submit) }}
            <a href="{{ path('grupo3_taller_unlp_user') }}" class="btn btn-default">Cancelar</a>
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
