{% extends '::dashboard.html.twig' %}

{% block content %}
    <div class="page-header">
        <h3>Editar Configuración</h3>
    </div>

    {{ form_start(edit_form, { 'style': 'horizontal', 'label_col': 3, 'widget_col': 7 }) }}
		{{ form_errors(edit_form) }}

		{{ form_row(edit_form.paginacion) }}
        {{ form_row(edit_form.directorioLogsAntiguos ) }}
		{{ form_row(edit_form.archivoDeLog ) }}
		{{ form_row(edit_form.tiempoMantenimiento ) }}

        <div class="col-lg-offset-3 col-lg-7">
            <p>
                {{ form_widget(edit_form.submit) }}
                <a href="{{ path('configuracion') }}" class="btn btn-default">Cancelar</a>
            </p>
        </div>

    {{ form_end(edit_form) }}
{% endblock %}
