{% extends '::dashboard.html.twig' %}

{% block content %}

	<div class="page-header">
        <h3>Configuración</h3>
    </div>

    <dl class="dl-horizontal">
			 {% for entities in entities %}
			 <dt>Paginación</dt>
			 <dd>{{ entities.paginacion }}</dd>
			 <dt>Directorio de logs antiguos</dt>
			 <dd>{{ entities.directorioLogsAntiguos }}</dd>
			 <dt>Archivo de log</dt>
			 <dd>{{ entities.archivoDeLog }}</dd>
			 <dt>Tiempo de mantenimiento</dt>
			 <dd>{{ entities.tiempoMantenimiento }}</dd>


			<br>
			<p>
			<a href="{{ path('configuracion_edit', { 'id': entities.id }) }}" class="btn btn-primary" >
            {{ icon('pencil') }} Editar
			</a>
			</p>

			 {% endfor %}


    <style>
    .dl-horizontal dt {
        width: 200px;
    }
    .dl-horizontal dd {
        margin-left: 220px;
    }
    </style>



     </dl>

    {% endblock %}
