{% extends '::dashboard.html.twig' %}

{% block content %}
<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal" role="form">
    {{ bootstrap_set_style('horizontal') }}
    {{ form_widget(form) }}
    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <button type="submit" class="btn btn-default">{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</button>
			<a href="{{ path('fos_user_profile_show') }}" class="btn btn-primary">Cancelar</a>
        </div>
    </div>
</form>
{% endblock content %}
