{% extends '::dashboard.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>Nuevo Usuario de Red</h1>
    </div>

    {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_row(form.nombre) }}
        {{ form_row(form.apellido) }}
        {{ form_row(form.cargo) }}
        {{ form_row(form.dNI) }}

        <p>
            {{ form_widget(form.submit) }}
            <a href="{{ path('usuariored') }}" class="btn btn-default">Cancelar</a>
        </p>
    {{ form_end(form) }}
{% endblock content %}
