{% extends '::dashboard.html.twig' %}

{% block content %}
    <div class="page-header">
        <h3>Nuevo Usuario de Red</h3>
    </div>

    {{ form_start(form, { 'style': 'horizontal', 'label_col': 3, 'widget_col': 7 }) }}
        {{ form_errors(form) }}

        {{ form_row(form.nombre) }}
        {{ form_row(form.apellido) }}
        {{ form_row(form.cargo) }}
        {{ form_row(form.dNI) }}
		{{ form_row(form.oficina) }}

        <div class="col-lg-offset-3 col-lg-7">
            <p>
                {{ form_widget(form.submit) }}
                <a href="{{ path('usuariored') }}" class="btn btn-default">Cancelar</a>
            </p>
        </div>

    {{ form_end(form) }}
{% endblock content %}
