{% extends '::dashboard.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>Eliminar Usuario de Red</h1>
    </div>

    <dl class="dl-horizontal">
        <dt>Nombre</dt>
        <dd>{{ entity.nombre }}</dd>

        <dt>Apellido</dt>
        <dd>{{ entity.apellido }}</dd>

        <dt>Cargo</dt>
        <dd>{{ entity.cargo }}</dd>

        <dt>DNI</dt>
        <dd>{{ entity.dNI }}</dd>
    </dl>

    <div class="col-md-offset-1">
        {{ form_start(delete_form) }}
            {{ form_widget(delete_form.submit) }}
            <a href="{{ path('usuariored') }}" class="btn btn-default">Cancelar</a>
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
