{% extends '::dashboard.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>Eliminar Usuario de Red</h1>
    </div>

    <dl class="dl-horizontal">
        <dt>Nombre</dt>
        <dd>{{ entity.nombre }}</dd>

        <dt>Apellido</dt>
        <dd>{{ entity.apellido }}</dd>

        <dt>Cargo</dt>
        <dd>{{ entity.cargo }}</dd>

        <dt>DNI</dt>
        <dd>{{ entity.dNI }}</dd>
		
		{% if entity.oficina|length > 0 %}
			<dt>Oficina</dt>
			<dd>{{ entity.oficina}}</dd>
		{% endif %}
		
		{% if entity.hosts|length > 0 %}
			<dt>Hosts</dt>
		{% for host in entity.hosts %}
			<dd>{{ host}}</dd>
		{% endfor %}
		{% endif %}
		
		
    </dl>

    <div class="col-md-offset-1">
        {{ form_start(delete_form) }}
            {{ form_widget(delete_form.submit) }}
            <a href="{{ path('usuariored') }}" class="btn btn-default">Cancelar</a>
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
