{% extends '::dashboard.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>Informe Predefinido</h1>
    </div>
	
	<p>
        <a href="{{ path('informepredefinido_new') }}" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus"></span> Agregar Informe Predefinido
        </a>
    </p>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Frecuenciatiempo</th>
				<th>Plantilla</th>
                <th class="col-xs-1">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.frecuenciaTiempo }}</td>
                <td>{{ entity.plantilla }}</td>
				<td>
					<a href="{{ path('informepredefinido_edit', { 'id': entity.id }) }}" title="Editar" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-pencil text-primary"></span>
                    </a>
                        <a href="{{ path('informepredefinido_show', { 'id': entity.id }) }}"title="Eliminar" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-remove text-danger"></span>
                    </a>
				</td>
			</tr>
        {% endfor %}
        </tbody>
    </table>

    <nav class="text-center">
        {{ knp_pagination_render(pagination) }}
    </nav>

    {% endblock %}
