{% extends '::dashboard.html.twig' %}

{% block content %}
    <div class="page-header">
        <h3>Nuevo Informe Predefinido</h3>
    </div>

    {{ form_start(form, { 'style': 'horizontal', 'label_col': 3, 'widget_col': 7 }) }}
		{{ form_errors(form) }}

        {{ form_row(form.nombre) }}
        {{ form_row(form.frecuenciaTiempo) }}
        {% if (is_granted('ROLE_ADMIN'))%}
			{{ form_row(form.plantilla) }}
        {% else %}
            <div class="form-group">{# oficina #}
                <label class="col-lg-3 control-label">Plantillas</label>
                <div class="col-lg-7">
                    <select class="form-control" name="plantilla">
                        {% for p in plantilla %}
                        <option value="{{p.id}}">{{ p.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class ="hidden">
             {{ form_row(form.plantilla) }}
            </div>
		{% endif %}
        {{ form_row(form.proximoEnvio) }}
		<div class="col-lg-offset-3 col-lg-7">
			<span class="help-block">Formato dd-mm-aaaa</span>
		</div>
        <div class="col-lg-offset-3 col-lg-7">
            <p>
                {{ form_widget(form.submit) }}
                <a href="{{ path('informepredefinido') }}" class="btn btn-default">Cancelar</a>
            </p>
        </div>

	{{ form_end(form) }}
{% endblock %}
