{% extends '::dashboard.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>Nuevo Informe Predefinido</h1>
    </div>

    {{ form_start(form) }}
		{{ form_errors(form) }}

        {{ form_row(form.nombre) }}
        {{ form_row(form.frecuenciaTiempo) }}
        {{ form_row(form.plantilla) }}
    <p>
		{{ form_widget(form.submit) }}
            <a href="{{ path('informepredefinido') }}" class="btn btn-default">Cancelar</a>
    </p>
	{{ form_end(form) }}
{% endblock %}
