{% extends '::dashboard.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>Editar Plantilla</h1>
    </div>

    {{ form_start(edit_form) }}
		{{ form_errors(edit_form) }}
		
		{{ form_row(edit_form.nombre) }}
		{{ form_row(edit_form.descripcion) }}
    <p>
		{{ form_widget(edit_form.submit) }}
        <a href="{{ path('plantilla') }}" class="btn btn-default">Cancelar</a>
    </p>
    {{ form_end(edit_form) }}
{% endblock %}
