{% extends '::dashboard.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@Grupo3TallerUNLPPlantillaBundle/Resources/public/js/functions.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascripts %}

{% block content %}
    <div class="page-header">
        <h3>Nueva Plantilla</h3>
    </div>

    {{ form_start(form, { 'style': 'horizontal', 'label_col': 3, 'widget_col': 7 }) }}
		{{ form_errors(form) }}

		{{ form_row(form.nombre) }}
		{{ form_row(form.descripcion) }}



		<div class="form-group" >{# rango días #}
			<label class="col-lg-3 control-label">{{ datos.filtros[1].nombre }}</label>
			<div class="col-lg-7"><input class="form-control" type="number" min="1" step="1" name="filtros[{{ datos.filtros[1].id }}]" /></div>
		</div>
		<div class="form-group">{# hora desde/ hora hasta #}
			<label class="col-lg-3 control-label">{{ datos.filtros[2].nombre }}</label>
			<div class="col-lg-7 row">
				<div class="col-xs-4">
					<input class="form-control" type="time" name="filtros[{{ datos.filtros[2].id }}]" />
					<span class="help-block">Formato hh:mm</span>
				</div>
				<label class="col-xs-3 control-label">{{ datos.filtros[3].nombre }}</label>
				<div class="col-xs-4">
					<input class="form-control" type="time" name="filtros[{{ datos.filtros[3].id }}]" /> 
					<span class="help-block">Formato hh:mm</span>
				</div>
				
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-lg-3 control-label">Filtrar por</label>
			<div class="col-lg-7 row">
				<div class="col-lg-8">
					<div class="btn-group btn-group-justified" data-toggle="buttons">
						<label class="btn btn-primary"><input type="radio" name="filtro1"  onchange="mostrarOficina()" > Oficina </label>
						<label class="btn btn-primary"><input type="radio" name="filtro1" onchange="mostrarusuarioespecifico()" > Usuario </label>
						<label class="btn btn-primary"> <input type="radio" name="filtro1" onchange="mostrarip()" > IP </label>
						<label class="btn btn-primary"> <input type="radio" name="filtro1" onchange="mostrarrangoip()" > Rango IP </label>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="btn-group btn-group-justified" data-toggle="buttons">
						<label class="btn btn-primary"> <input type="radio" name="filtro2" onchange="mostrargrupo()" > Grupo </label>
						<label class="btn btn-primary"><input type="radio" name="filtro2" onchange="mostrarsitio()" > Sitio </label>
					</div>
				</div>
				
				
			</div>
		</div>
		
		<div class="form-group" id="div_oficina" style='display:none;'>{# oficina #}
			<label class="col-lg-3 control-label">{{ datos.filtros[4].nombre }}</label>
			<div class="col-lg-7">
				<select class="form-control" name="filtros[{{ datos.filtros[4].id }}]">
					<option value=""></option>
					{% for f in datos.oficinas %}
					<option value="{{f.id}}">{{ f }}</option>
					{% endfor %}
				</select>
			</div>

		</div>
		<div class="form-group" id="div_usuario" style='display:none;'>{# usuario #}
			<label class="col-lg-3 control-label">{{ datos.filtros[5].nombre }}</label>
			<div class="col-lg-7">
				<select class="form-control" name="filtros[{{ datos.filtros[5].id }}]">
					<option value=""></option>
					{% for u in datos.usuarios %}
					<option value="{{u.id}}">{{ u }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
		<div class="form-group" id="div_ip" style='display:none;'>{# ip #}
			<label class="col-lg-3 control-label">{{ datos.filtros[6].nombre }}</label>
			<div class="col-lg-7 row">
				<div class="col-xs-3"> <input type="number" class="form-control" name="filtros[{{ datos.filtros[6].id }}][0]" min="0" max="255" step="1" /></div>
				<div class="col-xs-3"> <input type="number" class="form-control" name="filtros[{{ datos.filtros[6].id }}][1]" min="0" max="255" step="1" /></div>
				<div class="col-xs-3"> <input type="number" class="form-control" name="filtros[{{ datos.filtros[6].id }}][2]" min="0" max="255" step="1" /></div>
				<div class="col-xs-3"> <input type="number" class="form-control" name="filtros[{{ datos.filtros[6].id }}][3]" min="0" max="255" step="1" /> </div>
			</div>
		</div>
		<div id="div_rango" style='display:none;'>
			<div class="form-group" >{# ip desde #}
				<label class="col-lg-3 control-label">{{ datos.filtros[7].nombre }}</label>
				<div class="col-lg-7 row">
					<div class="col-xs-3"> <input type="number" class="form-control" name="filtros[{{ datos.filtros[7].id }}][0]" min="0" max="255" step="1" /></div>
					<div class="col-xs-3"> <input type="number" class="form-control" name="filtros[{{ datos.filtros[7].id }}][1]" min="0" max="255" step="1" /></div>
					<div class="col-xs-3"> <input type="number" class="form-control" name="filtros[{{ datos.filtros[7].id }}][2]" min="0" max="255" step="1" /></div>
					<div class="col-xs-3"> <input type="number" class="form-control" name="filtros[{{ datos.filtros[7].id }}][3]" min="0" max="255" step="1" /> </div>
				</div>
			</div>
			<div class="form-group">{# ip hasta #}
				<label class="col-lg-3 control-label">{{ datos.filtros[8].nombre }}</label>
				<div class="col-lg-7 row">
					<div class="col-xs-3"> <input type="number" class="form-control" name="filtros[{{ datos.filtros[8].id }}][0]" min="0" max="255" step="1" /></div>
					<div class="col-xs-3"> <input type="number" class="form-control" name="filtros[{{ datos.filtros[8].id }}][1]" min="0" max="255" step="1" /></div>
					<div class="col-xs-3"> <input type="number" class="form-control" name="filtros[{{ datos.filtros[8].id }}][2]" min="0" max="255" step="1" /></div>
					<div class="col-xs-3"> <input type="number" class="form-control" name="filtros[{{ datos.filtros[8].id }}][3]" min="0" max="255" step="1" /> </div>
				</div>
			</div>
		</div>
		<div class="form-group" id="div_grupo" style='display:none;'>{# grupo sitios #}
			<label class="col-lg-3 control-label">{{ datos.filtros[9].nombre }}</label>
			<div class="col-lg-7">
				<select class="form-control" name="filtros[{{ datos.filtros[9].id }}]">
					<option value=""></option>
					{% for g in datos.grupos %}
					<option value="{{g.id}}">{{ g }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
		<div class="form-group" id="div_sitio" style='display:none;'>{# sitios #}
			<label class="col-lg-3 control-label">{{ datos.filtros[10].nombre }}</label>
			<div class="col-lg-7">
				<select class="form-control" name="filtros[{{ datos.filtros[10].id }}]">
					<option value=""></option>
					{% for s in datos.sitios %}
					<option value="{{s.id}}">{{ s }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
		<div class="form-group" >{# trafico denegado #}
			<div class="col-lg-offset-3 col-lg-7">
				<div class="checkbox">
					<label><input type="checkbox" name="filtros[{{ datos.filtros[11].id }}]" /> {{ datos.filtros[11].nombre }}</label>
				</div>
			</div>
		</div>

        <div class="col-lg-offset-3 col-lg-7">
            <p>
                {{ form_widget(form.submit) }}
                <a href="{{ path('plantilla') }}" class="btn btn-default">Cancelar</a>
            </p>
        </div>

	{{ form_end(form) }}
{% endblock %}
