{% extends '::dashboard.html.twig' %}

{% block content %}
    <div class="page-header">
        <h3>Plantilla</h3>
    </div>

    <dl class="dl-horizontal">
        <dt>Nombre</dt>
        <dd>{{ entity.nombre }}</dd>
	{% if entity.descripcion|length > 0 %}
        <dt>Descripcion</dt>
        <dd>{{ entity.descripcion }}</dd>
	{% endif %}	
	{% if is_granted('ROLE_ADMIN') %}
		<dt>Propietario</dt>
		<dd>{{ entity.usuariosistema }}</dd>
	{% endif %}
		
	{% if entity.informepredefinido|length > 0 %}
		<dt>Informe Predefinido</dt>
		<dd>{{ entity.informepredefinido }}</dd>
	{% endif %}
	
	{% for ent in entity.valorfiltro %}
		<dt> {{ ent.filtro.nombre }} </dt> 
		{% if ent.filtro.id == 4 %}
			<dd> {{ oficina }} </dd>
		{% elseif ent.filtro.id == 9 %}
			<dd> {{ gsitio }} </dd>
		{% elseif ent.filtro.id == 10 %}
			<dd> {{ sitio }} </dd>
		{% else %}
			<dd> {{ ent.valor }} </dd>
		{% endif %}
	{% endfor %}
		
	</dl>
	
	

    <div class="col-md-offset-1">
            <a href="{{ path('plantilla') }}" class="btn btn-primary">Volver</a>
    </div>
{% endblock %}
