{% extends 'Grupo3TallerUNLPUserBundle::layout.html.twig' %}

{% block fos_user_content %}
{% stylesheets '@Grupo3TallerUNLPUserBundle/Resources/public/css/login.css' %}
    <link href="{{ asset_url }}" rel="stylesheet" />
{% endstylesheets %}

<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="form-signin">
    <h3 class="form-signin-heading">Resetear Contraseña</h3>
    {{ form_widget(form) }}
    <div class="form-group">
        <div>
            <button type="submit" class="btn btn-primary">Cambiar Contraseña</button>
			<a href="{{ path('fos_user_security_login') }}" class="btn btn-default">Cancelar</a>
        </div>
    </div>
</form>
{% endblock fos_user_content %}
