{% extends '::dashboard.html.twig' %}

{% block content %}

	<div class="page-header">
        <h3>Oficinas</h3>
    </div>

		<p>
        <a href="{{ path('oficina_new') }}" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus"></span> Agregar Oficina
        </a>
		</p>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Ubicacion</th>
                <th>Director</th>
				<th>Usuarios de Red</th>
				<th>Hosts</th>
				<th class="col-xs-2">Acciones</th>
            </tr>
        </thead>
        <tbody>
      {% for entity in pagination %}
            <tr>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.descripcion }}</td>
                <td>{{ entity.ubicacion }}</td>
                <td>{{ entity.director }}</td>
				<td>
					{% if entity.usuariosdered|length > 0 %}
					<a href="#" data-toggle="popover" data-content="<ul>{% for usuario in entity.usuariosdered %}<li>{{ usuario }}</li>{% endfor %}</ul>">Ver</a>
					{% endif %}
				</td>
				<td>
					{% if entity.hosts|length > 0 %}
					<a href="#" data-toggle="popover" data-content="<ul>{% for host in entity.hosts %}<li>{{ host }}</li>{% endfor %}</ul>">Ver</a>
					{% endif %}
				</td>
                <td>
						<a href="{{ path('oficina_show', { 'id': entity.id }) }}" title="Ver" class="btn btn-default btn-xs">
							<span class="glyphicon glyphicon-list text-primary"></span>
						</a>
                        <a href="{{ path('oficina_edit', { 'id': entity.id }) }}" title="Editar" class="btn btn-default btn-xs">
							<span class="glyphicon glyphicon-pencil text-primary"></span>
						</a>
						<a href="{{ path('oficina_showdelete', { 'id': entity.id }) }}" title="Eliminar" class="btn btn-default btn-xs">
							<span class="glyphicon glyphicon-remove text-danger"></span>
						</a>
				</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

	<nav class="text-center">
        {{ knp_pagination_render(pagination) }}
    </nav>

	<script>
	window.onload = function () {
		$('[data-toggle="popover"]').popover({
			template: '<div class="popover" role="tooltip"><div class="arrow"></div><div class="popover-content"></div></div>',
			placement: 'top',
			html: true
		});
	};
	</script>

    {% endblock %}
