{% extends '::dashboard.html.twig' %}

{% block content %}
   <div class="page-header">
        <h1>Nueva Oficina<h1>
    </div>

    {{ form_start(form, { 'style': 'horizontal', 'label_col': 3, 'widget_col': 7 }) }}
		{{form_errors(form)}}

		{{ form_row(form.nombre) }}
        {{ form_row(form.descripcion) }}
        {{ form_row(form.ubicacion) }}
        {{ form_row(form.director) }}

        <div class="col-lg-offset-3 col-lg-7">
            <p>
                {{ form_widget(form.submit) }}
                <a href="{{ path('oficina') }}" class="btn btn-default">Cancelar</a>
            </p>
        </div>

	{{ form_end(form) }}
{% endblock content%}
