{% extends '::dashboard.html.twig' %}

{% block content %}
    <div class="page-header">
        <h3>Eliminar Host</h3>
    </div>

    <dl class="dl-horizontal">
        <dt>Dirección IP</dt>
        <dd>{{ entity.ipAddress }}</dd>
		
		<dt>Dispositivo</dt>
		<dd>{{ entity.device }}</dt>

		<dt>Oficina</dt>
        <dd>{{ entity.office }}</dd>
		
        <dt>Usuarios de Red</dt>

        {% for networkUser in entity.networkUsers %}
        <dd>{{ networkUser }}</dd>
        {% endfor %}

       
    </dl>

    <div class="col-md-offset-1">
        {{ form_start(delete_form) }}
            {{ form_widget(delete_form.submit) }}
            <a href="{{ path('grupo3_taller_unlp_admin_host') }}" class="btn btn-default">Cancelar</a>
        {{ form_end(delete_form) }}
    </div>
{% endblock content %}
