{% extends '::dashboard.html.twig' %}

{% block content %}
<div class="page-header">
    <h3>Editar Sitio</h3>
</div>

   {{ form_start(edit_form, { 'style': 'horizontal', 'label_col': 3, 'widget_col': 7 }) }}
		{{ form_errors(edit_form) }}

        {{ form_row(edit_form.nombre) }}
		<div class="form-group" >
			{{ form_label(edit_form.url) }}
			<div class="col-lg-7">
				{{ form_widget(edit_form.url)}}
				<span class="help-block"> Ingrese la URL sin www y .com. Ejemplo: Para http://www.facebook.com ingrese <em>facebook </em></span>
			</div>
        </div>
        {{ form_row(edit_form.grupo) }}
        {{ form_row(edit_form.gradoAceptacion) }}

        <div class="col-lg-offset-3 col-lg-7">
            <p>
                {{ form_widget(edit_form.submit) }}
                <a href="{{ path('sitio') }}" class="btn btn-default">Cancelar</a>
            </p>
        </div>

    {{ form_end(edit_form) }}
{% endblock %}
