<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li><a href="{{path('informe_generar')}}">Generar Informe</a></li>
        <li><a href="{{path('plantilla')}}">Plantillas</a></li>
        <li><a href="{{path('informepredefinido')}}">Informes Predefinidos</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="{{path('informe_ranking_sitios_generar')}}">Sitios más visitados</a></li>
        <li><a href="{{path('informe_ranking_usuario_trafico_generar')}}">Usuarios con más tráfico</a></li>
        <li><a href="{{path('informe_ranking_usuario_trafico_denegado_generar')}}">Usuarios con más tráfico denegado</a></li>
        <li><a href="{{path('informe_ranking_protocolo_generar')}}">Protocolos más utilizados</a></li>
    </ul>
</div>
